<h1>Orders#index</h1>

<% @orders.each do |order| %>
<%= order.created_at.strftime("%m/%d %H:%M") %>
<table border=1>
<thead>
<tr><td width=100px>商品名</td><td>注文数</td></tr>
</thead>
<tbody>
  <% order.ordered_lists.order(item_id: :asc).each do |ordered_list| %>
    <% if ordered_list.quantity != 0 %>
      <tr><td><%= Item.find_by(id: ordered_list.item_id).name %></td><td><%= ordered_list.quantity %></td></tr>
    <% end %>
  <% end %>
</table>
<% end %>
